<div class="main-background">
  <div class="home-container">
    <h3>About me</h3>
    <div class="about-wrapper">
      <div class="d-flex justify-content-between">
        <div class="about-profile-block">
          <img src="../../assets/images/xiao_hong.png" />
        </div>

        <div class="about-skill-block">
          <div class="w-100">
            <p>
              I am Xiao Hong, web developer from Dandong, China. I have rich
              experience in web site design and building and customization, also
              I am good at MERN stack.
            </p>
            <!-- <button class="download-btn mt-3" (click)="handleClickResume()">
              Download CV
            </button> -->
          </div>

          <div class="w-100">
            <div class="progress-bar-block">
              <p class="mb-2">Frontend</p>
              <mat-progress-bar
                mode="determinate"
                value="100"
              ></mat-progress-bar>
            </div>
            <div class="mt-4 progress-bar-block">
              <p class="mb-2">Backend</p>
              <mat-progress-bar
                mode="determinate"
                value="100"
                color="accent"
              ></mat-progress-bar>
            </div>
            <div class="mt-4 progress-bar-block">
              <p class="mb-2">UI/UX design</p>
              <mat-progress-bar
                mode="determinate"
                value="70"
                color="warn"
              ></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flx justify-content-center mt-6">
        <div class="about-experience-block">
          <div class="row">
            <div class="col-md-3">
              <div class="d-flex align-items-center">
                <mat-icon aria-hidden="false" inline="true"
                  >local_fire_department
                </mat-icon>
                <div class="ml-1">
                  <h3 class="m-0">120</h3>
                  <p class="m-0">Project Completed</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="d-flex align-items-center">
                <mat-icon aria-hidden="false" inline="true">people </mat-icon>
                <div class="ml-1">
                  <h3 class="m-0">115</h3>
                  <p class="m-0">Satisfied clients</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="d-flex align-items-center">
                <mat-icon aria-hidden="false" inline="true"
                  >workspace_premium
                </mat-icon>
                <div class="ml-1">
                  <h3 class="m-0">30</h3>
                  <p class="m-0">Nominees winner</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="d-flex align-items-center">
                <mat-icon aria-hidden="false" inline="true"
                  >maps_home_work
                </mat-icon>
                <div class="ml-1">
                  <h3 class="m-0">4</h3>
                  <p class="m-0">Worded Company</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
