<div class="main-background">
  <div class="home-container">
    <h3 class="mt-3">Service</h3>
    <div class="service-wrapper mt-4 pb-4">
      <div class="row">
        <div class="col-md-4">
          <div class="service-card">
            <div class="yellow-card-item">
              <div>
                <img src="../../assets/images/service-2.svg" />
              </div>
              <h5 class="mt-3">Web Development</h5>
              <p>
                React.js, Redux, Node.js, Django, Laravel, Codeigniter, MongoDB,
                PostgreSql, MySql, Firebase cloud storage, GraphQL
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <div class="purple-card-item">
              <div>
                <img src="../../assets/images/service-1.svg" />
              </div>
              <h5 class="mt-3">Mobile Developement</h5>
              <p>React Native, Java, Swift, Object-c</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <div class="red-card-item">
              <div>
                <img src="../../assets/images/service-3.svg" />
              </div>
              <h5 class="mt-3">Other Development</h5>
              <p>
                Trello, Jira, Github, Git, AWS, BitBucket, Google firebase cloud
                function, Netlify function, Chrom extension
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <p>Looking for a custom job? Click here to contact me! 👋</p>
      </div>
    </div>
  </div>
</div>
