<div class="home-section">
  <div class="profile-wrapper">
    <img src="../../assets/images/xiao_hong.png" />
    <h1 class="mt-3">Xiao Hong</h1>
    <p class="mt-3">I am a full-stack developer</p>
    <div class="icon-block">
      <a href="https://github.com/gstar0529" target="_black"
        ><img src="../../assets/images/github_icon.svg"
      /></a>
      <a href="https://www.linkedin.com/in/xiao-hong-868ba05b/" target="_black"
        ><img src="../../assets/images/linkedin_icon.svg"
      /></a>
      <a href="skype:han.yongfeng?chat">
        <img src="../../assets/images/skype_icon.svg" />
      </a>
    </div>
    <a class="round-button default-btn mt-4" (click)="toContact()">Hire me</a>
  </div>
</div>
